body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-item {
  color: #222;
}

.navbar-item:hover {
  background-color: #eee;
}

h1, h2, h3 {
  color: #333;
}

.section {
  padding: 1.5rem;
  background-color: white;
  border-radius: 4px;
}

.table th {
  background-color: #eee;
  color: #222;
}

.table td {
  background-color: #fff;
  color: #222;
}

.button.is-primary {
  background-color: #4a90e2;
  color: white;
  border: none;
}

.button.is-primary:hover {
  background-color: #3c7dc8;
}
