
$bg-color: #f5f5f5;
$text-color: #222;
$primary-color: #4a90e2;
$primary-hover: #3c7dc8;
$table-header: #eee;
$table-cell: #fff;

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: sans-serif;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #ccc;

  .navbar-item {
    color: $text-color;

    &:hover {
      background-color: lighten($bg-color, 5%);
    }
  }
}

h1, h2, h3 {
  color: darken($text-color, 10%);
}

.button {
  &.is-primary {
    background-color: $primary-color;
    border: none;
    color: white;

    &:hover {
      background-color: $primary-hover;
    }
  }
}

.table {
  th {
    background-color: $table-header;
  }

  td {
    background-color: $table-cell;
  }
}

.section {
  background-color: white;
  padding: 1.5rem;
  border-radius: 4px;
}
