{% extends "base.html" %}
{% block title %}Buy Vehicle{% endblock %}

{% block content %}
<section class="section">
  <div class="container" style="max-width: 650px;">

    <h1 class="title has-text-centered">Buy Vehicle</h1>
    <h2 class="subtitle has-text-centered">Vehicle ID: {{ vehicle_id }}</h2>

    <div class="box">

      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="field">
          <label class="label">Customer</label>
          <div class="control">
            <div class="select is-fullwidth">
              {{form.customer_id() }}
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Price</label>
          <div class="control">
              {{form.purchase_price(class="input") }}
          </div>
        </div>

        <div class="field">
          <label class="label">Purchase Date</label>
          <div class="control">
              {{form.purchase_date(class="input", placeholder="YYYY-MM-DD") }}
          </div>
        </div>

        <div class="field">
          <label class="label">Condition</label>
          <div class="control">
            <div class="select is-fullwidth">
              {{form.vehicle_condition() }}
            </div>
          </div>
        </div>

        <div class="field mt-4">
          <div class="control">
              {{form.submit(class="button is-primary is-fullwidth") }}
          </div>
        </div>
      </form>

      </div>

    <div class="has-text-centered mt-4">
      <a href="{{ url_for('vehicles') }}" class="button is-light">← Back to Vehicles</a>
    </div>

    </div>

    

  </div>
</section>
{% endblock %}
