{% extends "base.html" %}
{% block title %}Login - Geneva Auto{% endblock %}
{% block title %}Login - Geneva Auto{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-one-third">
    <div class="box">

      <h2 class="title is-4 has-text-centered">Login</h2>

      {% if error %}
        <p class="has-text-danger has-text-centered">Invalid username or password.</p>
      {% endif %}

      <form method="POST">
        {{ form.hidden_tag()}}

        <div class="field">
          {{ form.username.label }}
          <div class="control">
            {{ form.username(class="input")}}
          </div>
        </div>

        <div class="field">
          {{ form.password.label }}
          <div class="control">
            {{ form.password(class="input")}}
          </div>
        </div>

        <div class="field has-text-centered">
          {{ form.submit(class="button is-primary is-fullwidth") }}
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
