{% extends "base.html" %}
{% block title %}Vehicles{% endblock %}

{% block content %}
<section class="section">
  <div class="container">

    <h2 class="title is-3 has-text-centered">Search Vehicles</h2>

    <form method="POST" class="box mb-6">
      {{ form.hidden_tag() }}

      <div class="columns is-multiline">
        <div class="column is-one-third">
          {{ form.vehicle_type.label }} {{ form.vehicle_type(class="input") }}
        </div>
        <div class="column is-one-third">
          {{ form.manufacturer.label }} {{ form.manufacturer(class="input") }}
        </div>
        <div class="column is-one-third">
          {{ form.model_year.label }} {{ form.model_year(class="input") }}
        </div>
        <div class="column is-one-third">
          {{ form.fuel_type.label }} {{ form.fuel_type(class="input") }}
        </div>
        <div class="column is-one-third">
          {{ form.color.label }} {{ form.color(class="input") }}
        </div>
        <div class="column is-full">
          {{ form.submit(class="button is-primary mr-3") }}
          <a href="{{ url_for('vehicles') }}" class="button is-light">
            Clear Filters
          </a>
        </div>
        <div class="column is-one-third">
          <a href="{{ url_for('vehicles', show_all=1) }}" class="button is-info mb-4">
            Show All Vehicles
          </a>
        </div>
      </div>
    </form>

    <h2 class="title is-3 has-text-centered">Available Vehicles</h2>

    <table class="table is-striped is-hoverable is-fullwidth mt-5">
      <thead>
        <tr>
          <th>VIN</th>
          <th>Type</th>
          <th>Year</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Color(s)</th>
          <th>Sales Price</th>

          {% if session.get('role') in ['Buyer','Owner']%}
            <th>Actions</th>
          {%endif%}
        </tr>
      </thead>
      <tbody>
        {% for vehicle in vehicles %}
        <tr onclick='window.location="{{ url_for("vehicle_details", vehicle_id=vehicle.vehicleID) }}"'
    style="cursor:pointer;">
          <td>{{ vehicle.vin }}</td>
          <td>{{ vehicle.vehicle_type_name }}</td>
          <td>{{ vehicle.model_year }}</td>
          <td>{{ vehicle.manufacturer_name }}</td>
          <td>{{ vehicle.model_name }}</td>
          <td>{{ vehicle.colors }}</td>
          <td>${{ "{:,.2f}".format(vehicle.sales_price) }}</td>

          {% if session.get('role') in ['Buyer', 'Owner']%}
            <td>
              <a class="button is-small is-success" href="{{ url_for('buy_vehicle', vehicle_id=vehicle.vehicleID)}}" onclick="event.stopPropagation();">
                Buy
              </a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock %}